<% content_for(:title, t('.title')) %>
<div class="container py-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <!-- 検索フォーム -->
      <form>
        <div class="input-group mb-3">
          <input class="form-control" placeholder="検索ワード" type="search" aria-label="検索ワード" />
          <button class="btn btn-primary" type="submit">検索</button>
        </div>
      </form>
    </div>
  </div>

  <!-- 掲示板一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @bookmark_boards.present? %>
          <%= render @bookmark_boards %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
      <div class="d-flex justify-content-center">
        <%= paginate @bookmark_boards %>
      </div>
    </div>
  </div>
</div>
